@{
    ViewData["Title"] = "Catalog";
}

@model CatalogViewModel

<section class="row">
    <div class="col-2">
        <ul class="list-group">
            @foreach(var group in Model.NoteGroups)
            {
                <li class="list-group-item">@group.Name</li>
            }
            <li class="list-group-item">
                <form method="post" asp-action="AddGroup" asp-route-id="@Guid.NewGuid()">
                    <input type="text" asp-for="AddedGroup.Name" />
                    <input type="submit" value="Добавить группу" />
                </form>
            </li>
        </ul>
    </div>

    <div class="col-10">
        <h2>Твои заметки</h2>

        @foreach (var note in Model.Notes)
        {
            <div style="width: 300px">
                <h2>@note.Title</h2>
                <h4>@note.Group?.Name</h4>
                <p>@note.Text</p>
                <div class="row">
                    <form class="col" method="post" asp-action="DeleteNote" asp-route-id="@note.Id">
                        <input type="submit" value="Удалить" />
                    </form>

                    <form class="col" method="get" asp-action="GetNote" asp-route-id="@note.Id">
                        <input type="submit" value="Изменить" />
                    </form>
                </div>


            </div>
        }


        <p><a asp-action="GetNote" asp-route-id="@Guid.NewGuid()">Создать заметку</a></p>
    </div>
</section>



