@{
    ViewData["Title"] = "Catalog";
}

@model CatalogViewModel

@section Links {
    <link rel="stylesheet" href="~/css/calatog.css" asp-append-version="true" />
}

<section class="row">

    <div class="col-3 group-items">
        <ul class="list-group">

            <li class="list-group-item">
                <span>All</span>
                <span>
                    <a asp-action="GetAllNotes"><img class="find-img" src="~/img/icons8-find.svg" /></a>
                    <a><img class="delete-img-nonopacity" src="~/img/icons8-delete-30.png" /></a>
                </span>
            </li>
            @foreach(var group in Model.NoteGroups)
            {
                <li class="list-group-item">
                    <span>@group.Name</span>
                    <span>
                        <a asp-action="GetAllNotes" asp-route-groupid="@group.Id"><img class="find-img" src="~/img/icons8-find.svg" /></a>
                        <a asp-action="DeleteGroup" asp-route-id="@group.Id"><img class="delete-img" src="~/img/icons8-delete-30.png" /></a>
                    </span>
                </li>
            }
            <li class="list-group-item">
                <form method="post" asp-action="AddGroup" asp-route-id="@Guid.NewGuid()" class="add-group">
                    <input type="text" asp-for="AddedGroup.Name" class="form-control col-12" />
                    <input type="submit" class="btn btn-success col-12" value="Добавить группу" />
                </form>
            </li>
        </ul>
    </div>

    <div class="col-8 m-3 notes-items">
        <h2 class="title">Твои заметки</h2>

        @foreach (var note in Model.Notes)
        {
            <div class="card note-item">
                <div class="card-body">
                    <p class="card-text text-end">@note.Group?.Name</p>
                    <h2 class="card-title">@note.Title</h2>
                    <h6 class="card-subtitle mb-2 text-muted">Изменено: @note.ViewEditDate()</h6>
                    <div class="row">
                        <form class="col" method="post" asp-action="DeleteNote" asp-route-id="@note.Id">
                            <button type="submit" class="btn btn-light">Удалить</button>
                        </form>

                        <form class="col" method="get" asp-action="GetNote" asp-route-id="@note.Id">
                            <button type="submit" class="btn btn-light">Изменить</button>
                        </form>
                    </div>
                </div>
            </div>
        }

        <div class="card note-item">
            <a asp-action="GetNote" class="btn btn-success" asp-route-id="@Guid.NewGuid()">Создать заметку</a>
        </div>
    </div>
</section>



